network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: false
      dhcp6: false
      addresses: [{{ ip0 }}]
      routes:
        - to: default
          via: {{ dgw }}
      nameservers:
        addresses: [{{ dns }}]
      match:
        macaddress: {{ mac0 }}
      set-name: eth0
    eth1:
      dhcp4: false
      dhcp6: false
      match:
        macaddress: {{ mac1 }}
      set-name: eth1
