[DEFAULT]
[ml2]
type_drivers = flat,vlan,vxlan
tenant_network_types = vlan
mechanism_drivers = linuxbridge
extension_drivers = port_security,dns

[ml2_type_vlan]
network_vlan_ranges = provider:3:7

[securitygroup]
enable_ipset = true
